<footer class="bg-gray text-light footer-long">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <a class="mb-4">Run<a id="logo-green">Grps</a></a>
          <p class="text-muted">
            &copy; 2019 Rungroops
          </p>
        </div>
        <!--end of col-->
        <div class="col-12 col-md-9">
          <span class="h5">The world's first online platform for runners. Find individuals and/or start a running club.</span>
          <div class="row no-gutters">
            <div class="col-6 col-lg-3">
              <h6>Navigate</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="pages-landing.html">Find people</a>
                </li>
                <li>
                  <a href="pages-app.html">Find Clubs</a>
                </li>
              </ul>
            </div>
            <!--end of col-->
            <div class="col-6 col-lg-3">
              <h6>Platform</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#">Blog</a>
                </li>
              </ul>
            </div>
            <!--end of col-->
            <div class="col-6 col-lg-3 mt-3">
              <h6>Info</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Report Bugs</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
            <!--end of col-->
            <!-- <div class="col-6 col-lg-3">
              <h6>Company</h6>
              <ul class="list-unstyled">
                <li>
                  <a href="#">About company</a>
                </li>
                <li>
                  <a href="#">History</a>
                </li>
                <li>
                  <a href="#">Team</a>
                </li>
                <li>
                  <a href="#">Investment</a>
                </li>
              </ul>
            </div> -->
            <!--end of col-->
          </div>
          <!--end of row-->
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </footer>