/* You can add global styles to this file, and also import other style files */
@import url("assets/css/theme.css");
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '~ngx-toastr/toastr.css';

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#toast-container > div {
    opacity:1;
}

#logo-text {
    font-family: "Jua", sans-serif;
    font-size: 2rem;
  }

#logo-green {
    color: #02B875;
}


