/* You can add global styles to this file, and also import other style files */
@import url("assets/css/theme.css");
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '~ngx-toastr/toastr.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

#toast-container > div {
    opacity:1;
}

#logo-text {
    font-family: "Jua", sans-serif;
    font-size: 2rem;
  }

#logo-green {
    color: #02B875;
}

.xng-breadcrumb-root {
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: white;
}

.xng-breadcrumb-seperator {
    padding: 0 0;
}


