<div class="main-container">
  <section class="fullwidth-split">
    <div class="container-fluid">
      <div class="row no-gutters height-100 justify-content-center">
        <div
          class="col-12 col-lg-6 fullwidth-split-image bg-dark d-flex justify-content-center align-items-center"
        >
          <img
            alt="Image"
            src="assets/img/photo-road.jpg"
            class="bg-image position-absolute opacity-30"
          />
          <div class="col-12 col-sm-8 col-lg-9 text-center pt-5 pb-5">
            <a style="font-size: 2rem" class="mb-4">RunGroops</a>
            <span class="h3 mb-5"
              >Find your group and join a community of passionate
              runners</span
            >

            <div class="card text-left">
              <div class="card-body">
                <div class="media">
                  <img
                    alt="Image"
                    src="https://avatars.githubusercontent.com/u/51651863?s=400&u=1e9074a562f5e33d4b407659a0c10ba1bdad1469&v=4"
                    class="avatar"
                  />
                  <div class="media-body">
                    <p class="mb-1">
                      “Rungroops is the exact opposite of a tradtional online platform. The less you use my app the better. Go outside, run, and make friends IRL.”
                    </p>
                    <small>Teddy Smith - Founder</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end of col-->
        </div>
        <!--end of col-->
        <div class="col-12 col-sm-8 col-lg-6 fullwidth-split-text">
          <div class="col-12 col-lg-8 align-self-center">
            <div class="text-center mb-3">
              <h1 class="h2 mb-2">Get started</h1>
              <span>Start running with others immediately</span>
            </div>
            <form
              class="mb-4"
              [formGroup]="registerForm"
              (ngSubmit)="register()"
            >
              <div class="form-group">
                <label for="signup-email">Username</label>
                <app-text-input [formControl]="registerForm.controls['username']" [label]='"Username"'></app-text-input>
              </div>
              <div class="form-group">
                <label for="signup-password">Choose a password</label>
                <app-text-input [formControl]="registerForm.controls['password']" [label]='"Password"' [type]="'password'"></app-text-input>
              </div>
              <div class="form-group">
                <label for="signup-email">Confirm Password</label>
                <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]='"Confirm Password"' [type]="'password'"></app-text-input>
              </div>
              <div>
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    value="agree"
                    name="agree-terms"
                    id="check-agree"
                  />
                  <label
                    class="custom-control-label text-small"
                    for="check-agree"
                    >I agree to the <a href="#">Terms &amp; Conditions</a>
                  </label>
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" [disabled]="!registerForm.valid" class="btn btn-lg btn-success">
                  Create Account
                </button>
              </div>
            </form>
            <div class="text-center">
              <span class="text-small"
                >Already have an account? <a href="#">Log in here</a>
              </span>
            </div>
          </div>
          <!--end of col-->
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <!--end of section-->
</div>