<div class="main-container">
    <section class="space-lg">
      <img alt="Image" src="assets/img/graphic-bg-clouds-5.png" class="bg-image" />
      <div class="container">
        <div class="row mb-4 justify-content-center text-center">
          <div class="col-12 col-md-10 col-lg-9">
            <h1 class="display-4">Great design articles, daily.</h1>
            <span class="lead">Subscribe and get our weekly newsletter in your inbox</span>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
        <form>
          <div class="form-row justify-content-center">
            <div class="col-auto col-md-5 col-lg-4">
              <div class="form-group">
                <input class="form-control form-control-lg" type="email" name="email" placeholder="Email Address" />
                <small>We will never share your email address</small>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-lg btn-primary">Subscribe now</button>
            </div>
          </div>
          <!--end of row-->
        </form>
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above">
      <div class="container">
        <ul class="row mb-3 feature-list feature-list-sm">

          <li class="col-12 col-md-6 col-lg-4" *ngFor="let blog of blogs">
            <div class="card card-lg">
              <a href="#">
                <img class="card-img-top" src="assets/img/photo-team-desk.jpg" alt="Starting Up - A Candid Documentary">
              </a>
              <div class="card-body">
                <a href="#">
                  <h4 class="card-title mb-3">{{blog.title}}</h4>
                </a>
                <p class="card-text">What it’s really like trying to convert an idea into a business.</p>
              </div>
              <div class="card-footer card-footer-borderless">
                <div class="media blog-post-author">
                  <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                  <div class="media-body">
                    <small>Cameron Vasquez</small>
                    <small>28th February 2018 &bull; 4 min read</small>
                  </div>
                </div>
              </div>
            </div>
          </li>

         
        </ul>
        <!--end of row-->
        <div class="row justify-content-center">
          <div class="col-auto">
            <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination?.totalItems"
            [itemsPerPage]="pagination?.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
          </pagination>
          </div>
          <!--end of col-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <!--end of section-->
  </div>