<div class="card">
    <div class="card-header d-flex justify-content-between">
      <div>
        <span class="h6">Search By State</span>
      </div>
      <a href="#">View all &rsaquo;</a>
    </div>
    <div class="card-body">
      <ul class="list-unstyled list-spacing-sm" *ngFor="let state of runningClubs;let i=index">
        <li>
          <i class="icon-text-document text-muted mr-1"></i>
          <a [routerLink]="['/running-clubs/state/', state]">{{state}}</a>
        </li>
      </ul>
    </div>
  </div>